@use 'scss/variables' as v;
@use 'scss/header';
@use 'scss/home';
@use 'scss/minxins';
@use 'scss/pets';
@use 'scss/card';
@use 'scss/know';
@use 'scss/footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: v.$font-family;
}

body {
    background-color: #FDFDFD;
}

a {text-decoration: none;}
li {list-style: none;}