@use 'variables' as v;
@use 'minxins' as m;
 
.container {
    padding: 0 10vw;
}

.containerm {
    margin: 0 10vw;
}

.content {

    &__home {
        height: auto;
        background-color: v.$cream-color;
        display: flex;
        padding-top: 60px;
    }

    &__home-left {
        height: auto;
        width: auto;
        margin-top: 80px;
    }

    &__home-text1 {
        font-size: 4rem;
        font-weight: 900;
        color: v.$dark-blue-color;
        margin-bottom: 1rem;
    }
    &__home-text2 {
        font-size: 3rem;
        font-weight: 700;
        color: v.$dark-blue-color;
        margin-bottom: 1rem;
    }
    &__home-text3 {
        font-size: 1rem;
        font-weight: normal;
        color: v.$grey;
        margin-bottom: 1rem;
        max-width: 623px;
    }

    &__home-right {
        height: 600px;
        width: 632px;

        img{
            height: 100%;

        }
    }

    &__home-buttons {
        display: flex;
        justify-content: start;
        margin-top: 2rem;
        align-items: center;
        gap: 20px;
    }

    &__home-button1 {
        @include m.main-btn;
    }
    &__home-button2 {
        @include m.secondary-btn;
    }

    
}