@use 'variables' as v;

@mixin main-btn {
    padding: 15px 45px;
    border-radius: 25px;
    border: 2px solid v.$dark-blue-color;
    color: v.$dark-blue-color;
    cursor: pointer;
    font-weight: 500;
}
@mixin secondary-btn {
    color: v.$cream-color;
    padding: 15px 45px;
    border-radius: 25px;
    background-color: v.$dark-blue-color;
    cursor: pointer;
}