@use 'variables' as v;
@use 'minxins' as m;

.content {
    
    &__pets {
        padding-top: 80px;
    }

    &__pets-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__pets-texts {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__pets-text1 {
        font-size: 1.2rem;
        font-weight: 400;
        color: black;
    }
    &__pets-text2 {
        font-size: 1.6rem;
        font-weight: 700;
        color: v.$dark-blue-color;
    }

    &__pets-button {
        @include m.main-btn;
    }

    &__pets-grid {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        margin-top: 40px;
        width: 100%;
    }

    &__pets-card {
        display: flex;
        flex-direction: column;
        padding: 10px;
        padding-bottom: 30px;
        border-radius: 15px;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    &__pets-img {
        width: auto;
        border-radius: 15px;
    }

    &__pets-card-name {
        font-size: 1.1rem;
        font-weight: 700;
        color: black;
        margin-top: 20px;
        margin-left: 10px;
    }

    &__pets-card-infos {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-left: 10px;
        p {
            font-size: 0.9rem;
            font-weight: 400;
            color: v.$grey;
        }
        span {
            height: 4px;
            width: 4px;
            background-color: v.$grey;
            border-radius: 25px;
            margin: 0 10px;
        }
    }

    &__pets-price {
        font-size: 1rem;
        font-weight: 700;
        color: black;
        margin-top: 10px;
        margin-left: 10px;
    }


}